html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;}


/*----------- General Styling -----------*/
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

h1, h2, blockquote {
    font-family: 'Playfair Display', serif;
}
h1 {
    font-size: 5.8rem;
    text-align: center;
    margin: 0;
}
h2 {
    font-size: 4.8rem;
    font-weight: 600;
}
h3 {
    font-size: 1.6rem;
    color: #999999;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-weight: 600;
}
h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #999999;
    line-height: 2.15;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
img {
    max-width: 100%;
}
blockquote {
    font-size: 2.5rem;
    color: #333333;
    font-style: italic;
    line-height: 1.5;
}


/*----------- Header Section Begins -----------*/
header .top {
    margin: 0 auto;
    height: 15vh;
}
header .top .wrapper {
    position: relative;            
}
header h1 {
    text-align: center;
    padding: 40px;
    width: 300px;
    margin: 0 auto;
}
header nav {
    font-size: 1.4rem;
    width: 33.33%;
    text-transform: uppercase;
    font-weight: 600;
}
header nav.left {
    float: left;
}
header nav.right {
    float: right;
}
header ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header nav.right ul {
    right: 0;
}
header li {
    display: inline-block;
}
header nav.left li:nth-child(2) {
    margin: 0 65px;
}
header nav.right li {
    margin: 0 15px;
}
header .shopping {
    position: relative;
}
header .fa-shopping-bag {
    font-size: 2rem;
}
header .fa-search {
    font-size: 2rem;
}
header .shopping .number {
    font-size: 0.85rem;
    position: absolute;
    bottom: -10px;
    right: -10px;
    padding: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background-color: #a5f1dd;
}
header .banner {
    background-size: cover;
    background-position: center;
}
header .banner1 {
    height: 85vh;
    background-image: url(../assets/home-1.jpeg);
}
header .banner2 {
    height: 85vh;
    background-image: url(../assets/blog-1.jpeg);
}
header .banner3 {
    height: 50vh;
    background-image: url(../assets/contact-1.jpeg);
}
section.banner4 {
    height: 50vh;
    background-image: url(../assets/contact-2.jpeg);
}
/*Header Hoverstates */
header h1:hover {
    background: -webkit-linear-gradient( lightblue, rgb(0, 118, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
header li:not(.shopping):hover {
    color: #999999;
}
header .shopping:hover svg,
header .fa-search:hover {
    transform: translateY(-5px);
    color: #000;
}
header svg {
    transition: 0.25s;
    color: #000;
}



/*----------- -----------  Home Main Begins ---------------------- */
/*----------- About Section Begins -----------*/
section.about {
    background-color: #eeeeee;
    padding: 229px;
    
}
section.about .wrapper {
    margin-top: 115px;
}
section.about .innerWrapper {
    margin: 0 auto;
    /* padding-right: 18%; */
    /* padding-left: 10%; */
}
section.about .container {
    float: left;
    width: 50%;
    margin: 0;
}
section.about figure {
    width: 68%;
    margin: 0;
    float: right;
    position: relative;
}
section.about figure img:first-child {
    padding: 15px;
    background-color: white;
}
section.about figure .stamp {
    position: absolute;
    bottom: -27%;
    left: -27%;
}
section.about .description {
    float: left;
    width: calc(50% - 75px);
    margin-left: 5%;
    padding: 51px 0;
    padding-right: 5%;
    position: relative;
}
section.about .line {
    border: 1px solid #000;
    position: absolute;
    top: 0;
    width: 75px;
}
section.about .description > p {
    margin: 51px 0;
}
section.about .author .name {
    display: inline-block;
    font-weight: bold;
    color: #000;
}
section.about .author .profession {
    display: inline-block;
    margin-left: 10px;
}
/* Hover States */
section.about .innerWrapper:hover .description p:first-of-type {
    color: #000;
}
section.about .innerWrapper:hover .stamp {
    transform: rotate(360deg);
    transition: 60s;
}



/*----------- Attractions Section Begins -----------*/
section.attractions .left {
    width: 65%;
    float: left;
    padding: 180px 0;
    /* margin: 100px; */
}
section.attractions ul {
    float: right;
    width: 72%;
    padding-right: 10%;
}
section.attractions li {
    width: calc(50% - 100px);
    float: left;
    position: relative;
    margin-left: 100px;
    margin-bottom: 58px;
    line-height: 1.9rem;
}
section.attractions li:nth-child(5),
section.attractions li:nth-child(6) {
    margin-bottom: 0;
}
section.attractions li p {
    margin-top: 10px;
}
section.attractions li svg {
   position: absolute;
   top: 0;
   left: -57px;
   font-size: 3rem;
   color: #333333;
}
section.attractions .fa-plane {
    transform: rotate(-45deg);
}
section.attractions .scenery {
    width: 35%;
    float: left;
}
section.attractions .scenery img {
    width: 100%;
}

/* Hover States */
section.attractions li:hover p {
    color: #212020;
}
section.attractions li:first-child:hover svg {
    color: orange;
    transform: rotate(360deg);
    transition: transform 5s;
}
section.attractions li:nth-child(2):hover svg {
    color: rgb(109, 109, 109);
    transform: translateY(-5px);
}
section.attractions li:nth-child(2) svg {
    transition: transform 0.25s;
}
section.attractions li:nth-child(3):hover svg {
    color: rgb(0, 0, 0);
    transform: translateY(-15px);
}
section.attractions li:nth-child(3) svg {
    transition: transform 0.5s;
}
section.attractions li:nth-child(4):hover svg {
    color: aquamarine;
}
section.attractions li:nth-child(4) svg {
    transition: 0.5s;
}
section.attractions li:nth-child(5):hover svg {
    color: chartreuse;
    transform: rotateY(180deg);
}
section.attractions li:nth-child(5) svg {
    transition: 0.25s;
}
section.attractions li:nth-child(6):hover svg {
    color: rgb(255, 191, 29);
    transform: rotate(10deg)
}
section.attractions li:nth-child(6) svg {
    transition: 0.25s;
}

/*----------- Testimonial Section Begins -----------*/
.testimonialGallery {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url(../assets/swirl_pattern.png);
}
section.testimonial {
    clear: both;
    text-align: center;
    padding: 100px 144px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
section.testimonial h2 {
    font-size: 6rem;
    margin-top: 44px;
}
section.testimonial .wrapper {
    background-color: white;
    padding: 100px;
    /* position: relative; */
    box-shadow: -1px 2px 3px 1px #f3f3f3;
    position: relative;
    right: 0;
}
section.testimonial .testimonial2 {
    position: absolute;
    right: 100%;
    top: 100px;
    width: 70%;
}
section.testimonial blockquote {
    margin-top: 82px;
    position: relative;
}
section.testimonial blockquote:before {
    content: "“";
}
section.testimonial blockquote:after {
    content: "”";
}
section.testimonial .stars {
    margin: 20px 0;
    font-size: 20px;
    color: goldenrod;
}
section.testimonial .author p {
    display: inline-block;
}
section.testimonial .name {
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
}
section.testimonial .tripAdvisor {
    color: #000;
}
section.testimonial .previous, 
section.testimonial .next {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: #999999;
    cursor: pointer;
    z-index: 10;
}
section.testimonial .previous {
    left: 130px;
}
section.testimonial .next {
    right: 130px;
}
section.testimonial input[type="radio"] {
    display: none;
}
section.testimonial input#next:checked  ~ .testimonial2 {
    transition: 0.5s;
    right: 50%;
    transform: translateX(50%);
}
section.testimonial input#next:checked  ~ .testimonial1 {
    position: relative;
    transition: 0.5s;
    right: -100%;
}
section.testimonial input#previous:checked  ~ .testimonial2 {
    transition: 0.5s;
    right: 100%;
}
section.testimonial input#previous:checked  ~ .testimonial1 {
    position: relative;
    transition: 0.5s;
    right: 0;
}

/* Hover States */
section.testimonial svg:hover {
    color: #000;
}
section.testimonial .stars svg:hover {
    transform:  scale(1.4);
}
section.testimonial .wrapper:hover {
    box-shadow: 0px 21px 25px -20px #989595;
    transform: scale(1.01);
}
section.testimonial .wrapper:hover .stars svg {
    transform: rotate(360deg);
    transition: 7s;
}


/*----------- Gallery Section Begins -----------*/
section.explore {
    text-align: center;
    padding-bottom: 131px;
}
section.explore h3{
    margin-bottom: 41px;
}
section.explore .gallery img {
    display: block;
    width: calc(33.33% - 40px);
    float: left;
    margin: 20px;
    transition: 0.25s;
}
/* Hover States */
section.explore .gallery img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/*----------- Contact Section Begins -----------*/
section.contact {
    /* padding: 150px; */
    text-align-last: left;
}
section.contact .information {
    width: 40%;
    float: left;
    padding: 150px;
}
section.contact h2 {
    margin-bottom: 100px;
}
section.contact h5 {
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
}
section.contact address {
    margin: 25px 0;
}
section.contact address p {
    font-style: normal;
    line-height: 1.5;
    color: #666666;
}
section.contact .scenery {
    width: 60%;
    float: left;
}
section.contact img {
    display: block;
}
section.contact .location .state {
    color: #cccccc;
}
section.contact .emailAddress .email {
    color: #000;
    font-weight: 600;
    float: left;
    font-family: 'Playfair Display', serif;
}
section.contact .emailAddress a {
    float: left;
    font-size: 1.4rem;
    padding-top: 7px;
    margin-left: 7px;
}
section.contact .callDirectly h6{
    clear: both;
    margin-top: 50px;
    font-size: 1.4rem;
    color: #999999;
}
section.contact .callDirectly .directNumber {
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

/*----------------------  Blog Page Begins ---------------------- */
main.siteBlog {
    background-color: #eeeeee;
    padding-bottom: 75px;
}
main.siteBlog h2 {
    font-size: 3.6rem;
}
main.siteBlog h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem; 
}
main.siteBlog .wrapper {
    background-color: white;
    padding: 75px 52px;
    position: relative;
    top: -75px;
    max-width: 1270px;
}

/*----------- Blog Section Begins -----------*/
section.blog h2,
section.blog .webLocation {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}
section.blog .webLocation {
    width: 45%;
    display: block;
    margin: 50px auto;
}
section.blog .webLocation .parent,
section.blog .webLocation .child {
    float: left;
}
section.blog .webLocation .child {
    color: #000;
    margin-left: 3px;
}
section.blog .content {
    clear: both;
}
section.blog .content .top {
    border-bottom: 1px solid #dcdcdc;
    padding: 39px 0;
}
section.blog .author,
section.blog .date,
section.blog .category,
section.blog .tags {
    float: left;
    width: 16.66%;
}
section.blog .author {
    width: 50%;
}
section.blog .content img {
    float: left;
    border-radius: 50%;
    margin-right: 30px;
}
section.blog .content .top h5 {
    margin-top: 20px;
}
section.blog .content .bottom {
    clear: both;
    padding: 60px 0;
}
section.blog .bottom p {
    margin-bottom: 30px;
}
section.blog .bottom p:first-child {
    color: #000;
}
section.blog .bottom p:last-child {
    margin-bottom: 0;
}
section.blog .share h5 {
    float: left;
}
section.blog .share .social {
    float: left;
    font-size: 1.6rem;
}
section.blog .social svg {
    margin-left: 20px;
}


/*----------- Related Posts Section Begins -----------*/
section.relatedPosts {
    margin-top: 115px;
    clear: both;
}
section.relatedPosts h2 {
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
}
section.relatedPosts .posts {
    margin-top: 55px;
}
section.relatedPosts article {
    width: calc(33.33% - 20px);
    float: left;
    box-shadow: -1px 2px 3px 1px #f3f3f3;
    transition: 0.25s;
}
section.relatedPosts article:nth-child(2) {
    margin: 0 30px;
}
section.relatedPosts article img {
    transition: 0.25s;
}
.relatedPosts .description {
    padding-left: 28px;
}
section.relatedPosts .date {
    margin: 24px 0;
}
section.relatedPosts h5 {
    margin-bottom: 38px;
}
section.relatedPosts p:last-child {
    color: #999999;
    margin-bottom: 33px;
    font-size: 1.3rem;
    font-weight: 600;
}
section.relatedPosts article svg {
    transition: 0.25s;
}
/* Hover States */
section.relatedPosts article:hover {
    box-shadow: -6px 16px 50px -17px #989595;
}
section.relatedPosts article:hover h5 {
    text-decoration: underline;
}
section.relatedPosts article:hover p {
    color: #000;
}
section.relatedPosts article a p:hover {
    text-decoration: underline;
}
section.relatedPosts article a p:hover svg {
    transform: translateX(7px);
}
section.relatedPosts article:hover {
    transform: scale(1.01);
}



/*----------- Comments Section Begins -----------*/
section.comments h2 {
    margin-top: 111px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;;
}
section.comments .comment1 {
    margin-bottom: 28px;
}
section.comments .comment .profilePic,
section.comments .comment .message {
    float: left;
}
section.comments .comment .profilePic {
    width: 10%;
    margin: 0;
}
section.comments .message {
    width: 90%;
    background-color:  #f6f6f6;
    padding: 21px 0 37px 28px;
    position: relative;
}
section.comments .message::before {
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 15px solid #f6f6f6;
    border-left: 5px solid transparent;
    position: absolute;
    left: -19px;
    top: 21px;
}
section.comments .message .name,
section.comments .message .reply {
    float: left;
}
section.comments .message .name {
    color: #000;
}
section.comments .message .reply {
    font-style: italic;
    color:  #33cccc;
    font-weight: 500;
    font-size: 1.4rem;
    padding-top: 5px;
    transition: 0.3s;
}
section.comments .message p:nth-child(3) {
    clear: both;
    color: #333333;
    margin-bottom: 17px;
}
section.comments .message .time {
    font-size: 1.3rem;
    color: #999999;
}
/* Hover States */
section.comments .message:hover .reply{
    transform: translateX(10px);
    font-weight: 600;
}
section.comments .reply:hover {
    text-decoration: underline;
}


/*----------- Leave a Comment Section Begins -----------*/
section.leaveComment {
    margin-top: 107px;
    clear: both;
}
section.leaveComment h2 {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px;
    margin-bottom: 60px;
    font-size: 3rem;
}
section.leaveComment .info input,
section.leaveComment .commentEntry textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #000000;
    width: calc(33.33% - 20px);
    float: left;
    border: 1px solid transparent;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
}
section.leaveComment .commentEntry textarea {
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 60px;
    margin-top: 43px;   
    resize: none;
}
section.leaveComment form .info:nth-child(2) input {
    margin: 0 30px;
}
main.siteBlog section.leaveComment button {
    background-color: transparent;
    color: #84a016;
    border: 1px solid #84a016;
    width: 226px;
    padding: 22px 37px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    cursor: pointer;
}
/* Input Focus Styling */
section.leaveComment .info input:focus,
section.leaveComment .commentEntry textarea:focus {
    outline: none;
    border-bottom: 1px solid #000;
}
section.leaveComment .info input:focus::placeholder {
    color: #000;
}
/* Hover States */
main.siteBlog section.leaveComment button:hover,
main.siteBlog section.leaveComment button:focus {
    outline: none;
    background-color: #84a016;
    color: white;
    border: 1px solid transparent;
}

/*----------------------  Contact Page Begins ---------------------- */
main.contact {
    padding: 146px 0 114px 0;
}


/*----------- Details Section Begins -----------*/
section.details h2 {
    margin-bottom: 36px;
}
section.details h3 {
   font-family: 'Playfair Display', serif;
   color: #000;
   text-align-last: left;
   text-transform: capitalize;
   letter-spacing: normal;
   margin: 22px 0 16px 0;
}
section.details > p:first-of-type {
    width: 50%;
}
section.details ul {
    padding: 80px 0;
}
section.details li {
    float: left;
    width: 33.33%;
    padding: 50px 0;
    padding-left: 70px;
}
section.details li:nth-child(2) {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
section.details li svg {
    font-size: 4rem;
}
section.details li p {
    font-weight: 400;
}
section.details .envelope {
    position: relative;
    display: inline-block;
}
section.details .envelope span {
    text-align: center;
    padding-top: 5px;
    position: absolute;
    width: 0.2px;
    height: 0.0px;
    border-radius: 50%;
    background-color: tomato;
    right: -10px;
    top: -5px;
    font-weight: 600;
    color: white;
}
/* Hover States */
section.details li:hover p {
    color: #000;
}
section.details li:first-child:hover svg {
    box-shadow: 0px 0px 35px 7px cyan;
}
section.details li svg {
    transition: 0.25s;
    box-shadow: 0px 0px 5px 1px transparent;
}
section.details li:nth-child(2):hover svg {
    transform: translateY(-15px);
    color: tomato;       
}
section.details li:last-child:hover svg {
    color: gold;
}
section.details li:last-child:hover span {
    width: 20px;
    height: 20px;
}

/*----------- Get in Touch Section Begins -----------*/
section.getInTouch {
    margin-top: 0;
}
section.getInTouch h2 {
    font-size: 4.8rem;
    border: none;
    margin-bottom: 30px;
    padding: 0;
}
section.getInTouch p {
    margin-bottom: 121px;
}
section.getInTouch button {
    font-size: 1.4rem;
    width: 109px;
    padding: 0;
    padding-bottom: 10px;
    color: #999999;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #999999;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
/* Hover States */
section.getInTouch button:hover {
    color: #000;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}

/*----------- Footer Section Begins -----------*/
footer {
    background-color: #212020;
    clear: both;
    color: #999999;
    font-size: 1.4rem;
}
footer .top {
    padding-top: 85px;
    padding-bottom: 71px;
    border-bottom: 1px solid #333333;
}
footer .top nav.left {
    width: 33.33%;
    float: left;
}
footer .top nav.right {
    width: 27.1%;
    float: left;
}
footer .top form {
    width: 39.57%;
    float: left;
}
footer li {
    margin-bottom: 10px;
}
footer .emailEntry {
    position: relative;
}
footer form input {
    width: 100%;
    margin-top: 17px;
    padding: 10px 0;
    font-size: 1.8rem;
    color: #999999;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid #333333;
}
footer form input:focus {
    outline: none;
    border-bottom: 2px solid white;
}
footer form input:focus::placeholder {
    color: #cccccc;
}
footer form input:focus + button {
    color: white;
}
footer form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    background: transparent;
    border: 1px solid transparent;
    color: #999999;
    font-size: 1.8rem;
    padding: 5px;
}
footer .bottom {
    clear: both;
    padding-top: 30px;
    padding-bottom: 39px;
}
footer .copyRight {
    float: left;
    color:  #666666;
}
footer .social {
    float: right;
    color: white;
}
footer .social a {
    padding: 10px;
}
footer .social svg {
    margin-left: 30px;
    font-size: 1.8rem;
    width: 30px;
}
/* Hover States */
footer form button:hover, 
footer form button:focus {
    outline: none;
    border: 1px solid #999999;
    color: white;
}
footer nav a:hover,
footer nav a:focus {
    color: #eeeeee;
}
.fa-twitter:hover {
    color: #00ccff;
}
.fa-facebook-f:hover {
    background-color: #3b5998;
    color: white;
}
.fa-instagram:hover, 
.fa-instagram:focus {
    color: #8a3ab9;
}
.fa-google-plus-g:hover {
    color: #db3236;
}

